body {
    background-color: white;
    /* Used if the image is unavailable */
    font-family: 'Raleway', sans-serif;
}

footer {
    color: black;
    /* change background later */
    background-color: linen;
}